.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-login {
    border: 1px solid #black;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px #000;
}

body {
    font-family: 'Poppins', sans-serif;
}